updates:
  - file: "{MAJOR}.{MINOR}/kubefed-operator.v{MAJOR}.{MINOR}.0.clusterserviceversion.yaml" # relative to this file
    update_list:
    # replace metadata.name value
    - search: "kubefed-operator.v{MAJOR}.{MINOR}.0"
      replace: "kubefed-operator.{FULL_VER}"
    # replace entire version line, otherwise would replace 4.2.0 anywhere
    - search: "version: 4.2.0"
      replace: "version: {FULL_VER}"
  - file: "kubefed-operator-package.yaml"
    update_list:
    - search: "currentCSV: kubefed-operator.v{MAJOR}.{MINOR}.0"
      replace: "currentCSV: kubefed-operator.{FULL_VER}"